/* New version UI */
input[type="radio"] {
  display: none;
}

.create-newpj .ccbox li .select-box .item label{
  cursor: pointer;
}

.btn-danger {
  min-width: 180px;
  padding: 0px 15px;
  height: 50px;
  border-radius: 25px;
  background: #993e3b;
  border: 1px solid #993e3b;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  -webkit-transition: all .3s;
}

.btn-danger:hover {
  background-color: #ba514c;
  border: 1px solid #ba514c;
}

.cancel-project-pop-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
/* New version UI end */

    textarea,
    input {
      border: 1px solid #cccccc;
    }
  
    .form-control {
      border-color: #cccccc;
    }
  
    .btn-new {
      background-color: white;
      border: 1px solid #cccccc;
    }
  
    .btn-new[title="請選擇計畫地區"] {
      color: #6c757d !important;
    }
  
    /* color for select */
    .check-mark {
      color: rgb(37, 116, 85) !important;
    }
  
    .text-end {
      margin: auto 0;
    }
  
    .list-unstyled img {
      padding: 0 10px;
    }
  
    #second-page {
      display: none;
    }
  

    .w-45 {
        width: 45%
    }

    .f-14 {
        width: 1.4em
    }