	    <svg xmlns="http://www.w3.org/2000/svg" width="15.061" height="15.061" viewBox="0 0 15.061 15.061">
	      <g id="Group_718" data-name="Group 718" transform="translate(-966.939 -1128)">
		<g id="Group_719" data-name="Group 719">
		  <g id="Ellipse_5" data-name="Ellipse 5" transform="translate(970 1128)" fill="none" stroke="#fff" stroke-width="1.5">
		    <circle cx="6" cy="6" r="6" stroke="none"/>
		    <circle cx="6" cy="6" r="5.25" fill="none"/>
		  </g>
		  <line id="Line_5" data-name="Line 5" x1="4" y2="4" transform="translate(968 1138)" fill="none" stroke="#fff" stroke-linecap="round" stroke-width="1.5"/>
		</g>
	      </g>
	    </svg>
