{% extends 'base/base.html' %} {% load static %} {% block title %}上傳程式下載 |
{% endblock title %} {% block style %}
<link href="{% static 'css/theme.css' %}" rel="stylesheet" />
{% endblock style %} {% block body %}
{% if is_desktop_authorized %}
<div class="main-box">
    <div class="main-title">
        <h2>上傳程式下載</h2>
    </div>

    <div class="member-fucbox">
        {% if announcement %}
        <div class="titlebox">
            <div class="line-g"></div>
            <h2>版本號：{{ announcement.version }}</h2>
        </div>
        <div class="cont-area dowload">
            <h3 class="light-green marb_10">版本更新說明</h3>
            <p>
                {{ announcement.description| linebreaksbr }}
            </p>
            <div class="dowload-area">
                <p>下載連結</p>
                <a target="_blank" href="/media/desktop/desktop.zip"
                    >點此下載</a
                >
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% else %}
<div class="main-box">
	<div class="main-title">
		您的權限不足      
	</div>		
	<a class="return-btn" href="/"> < 返回</a>
</div>
{% endif %}
{% endblock body %}
