{% extends 'base/base.html' %} {% block head %} {% load static %} {% endblock head %} {% block style %}
<link href="{% static 'css/faq.css' %}" rel="stylesheet">

{% endblock %} 

{% block title %}常見問題 | {% endblock title %}

{% block body %}
<div class="main-box">
  <div class="main-title flex-spb">
    <div class="flex-boxleft">
      <h2>常見問題</h2>
    </div>
  </div>
  
  <div class="management-box faq-box">
    <div class="left-menu-area">
      <ul>
        <li class="now nl active" data-type="web">- 網頁操作</li>
        <li class="nl active" data-type="account">- 帳號相關</li>
        <li class="nl active" data-type="project">- 計畫管理</li>
        <li class="nl active" data-type="desktop">- 上傳程式操作</li>
      </ul>
      <div class="contact-area">
        <p>仍需要協助嗎？</p>
        <a href="{% url 'contact-us' %}">聯絡我們</a>
      </div>
    </div>

    <div class="right-cont">
      <div class="top-box">
          <h3 class="light-green faq-title">網頁操作</h3>
          <div class="search-box">
            <div class="input-item">
              <input type="text" placeholder="請輸入關鍵字">
              <button class="searchicon">
                <svg xmlns="http://www.w3.org/2000/svg" width="21.061" height="21.061" viewBox="0 0 21.061 21.061">
                  <g id="Group_718" data-name="Group 718" transform="translate(-966.939 -1128)">
                    <g id="Group_719" data-name="Group 719" transform="translate(968 1128)">
                      <g id="Ellipse_5" data-name="Ellipse 5" transform="translate(2)" fill="none" stroke="#257455" stroke-width="1.5">
                        <circle cx="9" cy="9" r="9" stroke="none"/>
                        <circle cx="9" cy="9" r="8.25" fill="none"/>
                      </g>
                      <line id="Line_5" data-name="Line 5" x1="5" y2="5" transform="translate(0 15)" fill="none" stroke="#257455" stroke-linecap="round" stroke-width="1.5"/>
                    </g>
                  </g>
                </svg>
              </button>
            </div>
          </div>
    </div>
    <div class="faq-content faq-li"></div>

    <div class="contact-area">
        <p>仍需要協助嗎？</p>
        <a href="{% url 'contact-us' %}">聯絡我們</a>
      </div>
    </div>
  </div>
</div>

{% endblock body %} {% block script %}<script src="{% static 'js/faq.js' %}"></script>
{% endblock script %}